# Xcode
UserInterfaceState.xcuserstate
.DS_Store

# Build products
build/
DerivedData/
ObjectDetectionARKit+CoreML.xcodeproj/project.xcworkspace/xcuserdata/mykytapopov.xcuserdatad/UserInterfaceState.xcuserstate
